{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage3.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue-grey">
          <h1>What is Khoj Kar ?</h1>
        </header>
        
        <div class="w3-container">
          <p>Khoj kar is service initiated by the Indian government.
            It helps in finding missing people. The government ties up with local services and uses face-recognition technologies to track missing individuals.
          </p>
        </div>
        
        <footer class="w3-container w3-blue-grey">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue-grey">
              <h1>How to use the service ? </h1>
            </header>
            
            <div class="w3-container">
              <p> 
                Go to the Regester Missing Person column. >
                Fill in the required details. > 
                Upload a high quality picture of the missing person in jpg or png format. 80% of the face should be visible.
                Click submit and wait for the process. >


                You will receive a WhatsApp message once the missing person is traced by our system.
                Be patient and hope for the best.

             </p>
            </div>
            
            <footer class="w3-container w3-blue-grey">
              <h5></h5>
            </footer>
            
            </div>

    
{% endblock %}