{% extends "layout.html" %}
{% block content %}

<img src="static/images/info.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Khoj Kar ?</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Khoj kar is service initiated by the Indian government.
            It helps in finding missing people. The government ties up with local services and uses face-recognition technologies to track missing individuals.
          </p>

        </div>
        
        <footer class="w3-container w3-blue-grey">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue-grey">
              <h1>Methods</h1>
            </header>
            
            <div class="w3-container">
              <p>
                COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.

                Most common symptoms:
                
                fever.
                dry cough.
                tiredness.
                Less common symptoms:
                
                aches and pains.
                sore throat.
                diarrhoea.
                conjunctivitis.
                headache.
                loss of taste or smell.
                a rash on skin, or discolouration of fingers or toes.
                Serious symptoms:
                
                difficulty breathing or shortness of breath.
                chest pain or pressure.
                loss of speech or movement.
                Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health facility. 
                
                People with mild symptoms who are otherwise healthy should manage their symptoms at home. 
                
                On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days. 
            </p>

            </div>
            <footer class="w3-container w3-blue-grey">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue-grey">
                      <h1>Advantages</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        To prevent infection and to slow transmission of COVID-19, do the following:

                        Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.
                        Maintain at least 1 metre distance between you and people coughing or sneezing.
                        Avoid touching your face.
                        Cover your mouth and nose when coughing or sneezing.
                        Stay home if you feel unwell.
                        Refrain from smoking and other activities that weaken the lungs.
                        Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.                    </p>
            </div>
                    
                    <footer class="w3-container w3-blue-grey">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue-grey">
              <h1>Limitations</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Self-care
                After exposure to someone who has COVID-19, do the following:
                Call your health care provider or COVID-19 hotline to find out where and when to get a test.
                Cooperate with contact-tracing procedures to stop the spread of the virus.
                If testing is not available, stay home and away from others for 14 days.
                While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies.
                Keep at least a 1-metre distance from others, even from your family members.
                Wear a medical mask to protect others, including if/when you need to seek medical care.
                Clean your hands frequently.
                Stay in a separate room from other family members, and if not possible, wear a medical mask.
                Keep the room well-ventilated.
                If you share a room, place beds at least 1 metre apart.
                Monitor yourself for any symptoms for 14 days.
                Call your health care provider immediately if you have any of these danger signs: difficulty breathing, loss of speech or mobility, confusion or chest pain.
                Stay positive by keeping in touch with loved ones by phone or online, and by exercising at home.
                
            </p>
            </div>
            
            <footer class="w3-container w3-blue-grey">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}