<!DOCTYPE html>
<html>
<title>Missing Person</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body data-load="1723728383">

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>

  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="input" class="w3-bar-item w3-button">Register Missing Person </a>
  <a href="login" class="w3-bar-item w3-button">Login</a>
  <!-- <a href="info" class="w3-bar-item w3-button">About Khoj </a>-->
  <!-- <a href="login" class="w3-bar-item w3-button">Member Login</a>-->
  <a href="info" class="w3-bar-item w3-button">About the Project</a>

</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-blue-grey">
  <h1>Missing Person Portal</h1>
</div>

{% block content %}
{% endblock %}



<!-- Footer-->
<div class="w3-container w3-teal">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>Sudhanshu Wani</p>
      <p>Aayush Parakh</p>
    </div>
    <div class="w3-container w3-cell">
      <p>Vedant Pudale</p>
      <p>Deep Marathe</p>
    </div>
  </div>
  <div class="w3-container w3-cell "><!--w3-mobile-->
    <h5>Guided By</h5>
    <p>Mr. P. P. Patil</p>
  </div>
  </div>

</div>
      
</body>
</html>